@font-face {
	font-family:HarmonyOS_Sans_SC_Medium;font-style:normal;font-display:swap;src:url(https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.subset.woff2) format('woff2')
}
* {font-family: HarmonyOS_Sans_SC_Medium}
.col-mb-12.col-tb-8.col-tb-offset-2{margin-left:0;width:100%}
.options-contain{display:flex}
.options-contain *{margin:0;padding:0;box-sizing:border-box;outline:0;-webkit-tap-highlight-color:transparent}
.options-bf{flex-wrap:nowrap;white-space:nowrap;overflow-y:hidden;height:100%;display:flex;background:#fff;padding:10px;box-shadow:0 0 20px -5px rgb(158 158 158 / 22%);border-radius:5px}
.options-bf input{background:#000;border-radius:5px;color:#fff}
.options-contain li{list-style:none}
.options-left-aside{position:-webkit-sticky;position:sticky;top:15px;width:200px;background:#fff;padding:10px;box-shadow:0 0 20px -5px rgba(158,158,158,.22);border-radius:5px}
.options-left-aside .options-logo{color:#303133;font-weight:bolder;font-size:24px;text-align:center;margin-bottom:10px;border-bottom:1px solid #ebeef5;padding-bottom:10px}
.options-left-aside .options-tab{margin-bottom:10px}
.options-left-aside .options-tab li{border-radius:5px;text-align:center;height:40px;line-height:40px;color:#606266;cursor:pointer;margin:1rem 0;transition:background .35s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.options-left-aside .options-tab li:hover{color:#fff;font-weight:500;background:#000}
.options-left-aside .options-tab li.active{color:#fff;font-weight:500;background:#000}
.options-left-aside .backup input{width:170px;height:40px;line-height:40px;margin-bottom:10px;color:#fff;font-size:14px;border-radius:20px;transition:opacity .35s;border:none;cursor:pointer}
.options-left-aside .backup input:hover{opacity:.85}
.options-left-aside .backup input:nth-child(1){background:#5cb85c}
.options-left-aside .backup input:nth-child(2){background:#f0ad4e}
.options-left-aside .backup input:nth-child(3){margin-bottom:0;background:#d9534f}
.options-contain>form{position:relative;display:none;background:#fff;min-width:0;flex:1;margin-left:15px;box-shadow:0 0 20px -5px rgba(158,158,158,.22);border-radius:8px}
.options-contain>form .typecho-option{position:-webkit-sticky;position:sticky;bottom:0;display:flex;align-items:center;justify-content:center;margin:0;padding:15px;background:#fff;border-top:1px solid #ebebeb;border-radius:0 0 8px 8px}
.options-contain>form .typecho-option button{width:170px;height:40px;background-color:#000;border-radius:5px}
.options-contain>form .typecho-option button:hover{-webkit-animation:pulse 1s;animation:pulse 1s;box-shadow:0 0 0 20px rgba(255,255,255,0)}
.options-contain>form .options-content{display:none;padding:15px}
.options-contain>form .options-content li{border:1px solid #e9e9eb;padding:15px}
.options-contain>form .options-content li .typecho-label{display:block;border-left:4px solid #000;background:#f6f6f3;line-height:26px;margin-bottom:15px;padding:5px 15px;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:700;border-radius:0 4px 4px 0}
.options-contain>form .options-content li select{min-width:200px;height:34px;line-height:34px;border:1px solid #e9e9eb;color:#666;border-radius:4px;padding-left:5px}
.options-contain>form .options-content li .multiline{display:flex;align-items:center;color:#666}
.options-contain>form .options-content li .multiline input[type=checkbox]{margin-right:5px}
.options-contain>form .options-content li input[type=text],.options-contain>form .options-content li textarea{width:100%;padding:10px;color:#666;border:1px solid #e9e9eb;-webkit-appearance:none}
.options-contain>form .options-content li textarea{height:125px}
.options-contain>form .options-content li .description{background:#f8f8f8;color:#999;padding:10px 15px;margin-top:15px;line-height:26px;border-radius:4px;word-break:break-all}
.options-notice{display:none;margin-left:15px;background:#fff;padding:15px;flex:1;box-shadow:0 0 20px -5px rgba(158,158,158,.22);border-radius:5px;line-height:28px;color:#606266}
.options-notice .theme-plane-title{text-align:center;padding-bottom:15px;border-bottom:1px solid #e4e7ed;font-weight:bolder;font-size:22px;margin-bottom:15px;color:#000}
.options-notice ol{padding:0 40px;margin-bottom:15px}
.options-notice ol li{list-style:decimal;font-size:1rem;line-height:3}
@-webkit-keyframes pulse{0%{box-shadow:0 0 0 0 #000}
}
@keyframes pulse{0%{box-shadow:0 0 0 0 #000}
}
@media (max-width:768px){.options-contain{display:block}
.options-contain .options-left{position:sticky;top:0;z-index:3}
.options-left-aside{width:100%;margin-bottom:15px}
.options-left-aside .tabs{display:flex;flex-wrap:wrap;border-bottom:1px solid #ebeef5;padding-bottom:10px}
.options-left-aside .options-tab{flex-wrap:nowrap;width:100%;white-space:nowrap;overflow-y:hidden;height:100%;display:flex;margin-bottom:0}
.options-left-aside .options-tab li{width:33.33333333%;height:36px;line-height:36px;margin:0 .5rem;padding:0 .5rem}
.options-left-aside .backup{display:flex;align-items:center;justify-content:space-between}
.options-left-aside .backup input{width:auto;flex:1;margin-bottom:0;height:36px;line-height:36px;border-radius:18px}
.options-left-aside .backup input:nth-child(2){margin:0 10px}
.options-contain>form{margin-left:0}
.options-contain>form .typecho-option{padding:10px 0}
.options-contain>form .typecho-option button{width:150px;height:38px;border-radius:19px}
.options-notice{margin-left:0}
}
